<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demo">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 添加悬浮窗所需权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 读取手机联系人 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <permission
        android:name="com.zhang.one"
        android:label="将要启动android"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.zhang.access.provider"
        android:label="用于访问读写provider的权限" />
    <permission
        android:name="com.zhang.access.provider.read"
        android:label="用于访问读provider的权限" />
    <permission
        android:name="com.zhang.access.provider.write"
        android:label="用于访问写provider的权限" />

    <application>
        <activity
            android:name=".glide.activity.StudyGlideActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".product_detail.activity.DragViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".recyclerview.LooperManagerActivity" />
        <activity
            android:name=".camera.activity.DarkCameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".camera.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".anim.activity.PathAnimActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".coordinator_layout.activity.MoveTopActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".product_detail.activity.ProductDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".anim.activity.activity.ViewPager2AnimActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".anim.activity.activity.ViewPagerAnimActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".anim.activity.AttrAnimActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".anim.activity.ViewAnimActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".window.activity.StudyKeyBoardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".aidl.AidlActivity" />

        <service
            android:name=".aidl.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".alipay.ShowHtmlActivity" />
        <activity
            android:name=".recyclerview.activity.CustomManagerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/customeTheme" />
        <activity
            android:name=".coordinator_layout.activity.CoordinatorLayoutV2Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".coordinator_layout.activity.CoordinatorLayoutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pagelist.activity.PageListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".lifecycle.LifecycleActivity" />
        <activity
            android:name=".some_test.activity.UriActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">

            <!-- zhang://com.zhang.example/activityone?paramsone=8&parmastwo=asdf -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.zhang.example"
                    android:scheme="zhang" />
            </intent-filter>
        </activity> <!-- android:exported="true"其它应用启动时就不会有java.lang.SecurityException,能否跳跟浏览器的支持有关 -->
        <!-- android:permission="com.zhang.one"其它应用要启动需要在清单文件中添加 <uses-permission android:name="com.zhang.one"/> -->
        <activity
            android:name=".some_test.activity.ActivityPermissionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:permission="com.zhang.one"
            android:screenOrientation="portrait"
            android:taskAffinity="com.zhang.haha" />
        <activity
            android:name=".incremental_updating.activity.TestAddActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".incremental_updating.activity.PatchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".window.activity.StudyWindowActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".db.activity.TestSqliteDataBaseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".study_bluetooth.activity.BlueToothActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".contact.activity.PhoneListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".some_test.activity.BrowseAnimActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".some_test.activity.TestServiceAndNoticeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".some_test.activity.TestDiffAndHandlerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vlayout.activity.StudyVlayoutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".keybord.activity.TestInputActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".viewpager_fragment.Main2Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:parentActivityName=".some_test.activity.TestDiffAndHandlerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewpager_fragment.activity.PageFragmentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewpager_fragment.activity.BrowsePhotoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewpager_fragment.activity.ExpandRecyclerViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <service android:name=".service.ForegroundService" />
        <service android:name=".window.WindowService.WindowService" />

        <provider
            android:name=".some_test.study_content_provider.MyContentProvider"
            android:authorities="com.zhang.studentProvider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="com.zhang.access.provider"
            android:readPermission="com.zhang.access.provider.read"
            android:writePermission="com.zhang.access.provider.write" /> <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <service android:name=".window.WindowService.DialogService" />

        <activity
            android:name=".x5webview.FullScreenActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name" />
        <activity
            android:name=".x5webview.FilechooserActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name" />
        <activity
            android:name=".x5webview.BrowserActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name" />
        <activity
            android:name=".x5webview.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
    </application>

</manifest>