<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jetpack">

    <application>
        <activity
            android:name=".nvigation.activity.TestNvigationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".nvigation.MainActivity" />
    </application>

</manifest>